/* Body */

* {
  box-sizing: border-box;
  list-style: none;
  /* border: 1px solid orange; */
}

.body-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: 'Maven Pro', sans-serif;
}

h1 {
  margin: 0;
}

/* Header */

.header-wrap {
  width: 100%;
  position: relative;
  z-index: 9999;

}

nav {
  display: flex;
  justify-content: center;
  height: 75px;
  align-items: center;
  position: fixed;
  background-color: #FCFFF5;
  width: 100%;
  color: #3e606F;
  /* box-shadow: 0 15px 20px -12px rgba(0,0,0,0.8); */
}

.nav-head {
  display: none;
}

nav li {
  padding: 0 25px;
  cursor: pointer;
  font-size: 1.2em;
}

#initials {
  padding: 0 50px;
  font-size: 4.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #91AA9D;
  cursor: pointer;
}

#middle-initial {
  margin: 0 -14px;
}

#last-initial {
  /* font-size: 2.5em; */
  margin: 0px;
  z-index: -1;
  color: #193441;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  opacity: .8;
}

/* Landing Image */

#landing-image {
  width: 100%;
  height: 120vh;
  background: url('../assets/lynDyjGSR9eR57ouPIEE_IMG_woods.jpg') no-repeat center;
  background-size: cover;
  opacity: 1;
  position: fixed;
  top: -100px;
  z-index: -10;
}

  #image-text-background {
    display: block;
    position: fixed;
    bottom: 40vh;
    left: 0px;
    width: 100%;
    height: 300px;
    z-index: -5;
    opacity: .8;
    background-color: darkgrey;
    box-shadow: 0 15px 20px -12px rgba(0,0,0,0.8);
  }

  #image-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 300px;
    position: fixed;
    bottom: 40vh;
    right: 0px;
    padding: 25px;
    padding-top: 50px;
    font-size: 1.2em;
    line-height: 2.0em;
    font-family: 'Nothing You Could Do', cursive;
    color: #FCFFF5;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: -1;
  }

  #author {
    align-self: flex-end;
    margin-right: 5%;
  }

.fa-chevron-down {
  position: fixed;
  left: 46%;
  top: 90%;
  color: #FCFFF5;
  z-index: -1;
}

/* Journey */

#journey-buffer {
  width: 100%;
  height: 100vh;
}

#journey {
  background-color: #FCFFF5;
  z-index: 1000;
  width: 100%;
  color: #3E606F;
  min-height: 100vh;
  position: relative;
}

#speciality {
  width: 100%;
  padding: 25px 0;
  text-align: center;
  margin-bottom: 0;
}

#paths {
  display: flex;
  flex-direction: column;
}

.path {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

#responsive {
  position: relative;
}

#overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: orange;
  z-index: 99999;
}

.icons {
  display: flex;
  padding: 15px;
  height: 40%;
}

.journey-headline {
  width: 60%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  height: 10%;
}

.journey-text {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  height: 50%;
}

/* Next Div */

#next-div {
  width: 100%;
  min-height: 100vh;
}


/* Media Queries */

@media (min-width: 626px) {

  #image-text-background,
  #image-text {
    height: 175px;
  }
  
  .nav-head {
    display: block;
  }

  #author {
    align-self: flex-end;
    margin-right: 5%;
  }

  #paths {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
  }
}





@media (min-width: 1269px) {

  #image-text {
    font-size: 1.25em;
  }

  #paths {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .path {
    width: 33.333%;
    height: 450px;
  }
}

@media (min-width: 2069px) {
  #image-text {
    font-size: 1.5em;
  }
}